* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

p {font-family: 'Courier New', Courier, monospace;}

.card {
  background-color: blanchedalmond;
  text-align: center;
  padding-block: 30px;
  border: 30px; border-radius: 20px;
}